.menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}
.menu-item-has-children .sub-menu {
  position: absolute;
  text-align: left;
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  top: 100%;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 9;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
}
li,
.menu-item-has-children .sub-menu li {
  display: block;
  margin-left: 0;
  padding: 15px;
  line-height: 22px;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;
}
